body,
html {
  height: 100%;
}

body {
  font-family: Manrope, sans-serif;
  font-size: $base-font-size;
  line-height: 1.25em;
  color: $gray-darker;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  color: $brand-primary;
  text-decoration: none;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: $gray;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}

.color,
.custom-checkbox input[type="checkbox"] + span.color {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.3125rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-size: contain;
  border: 1px solid $radio-border-color;

  &.active,
  &:hover {
    border: 2px solid $gray-darker;
  }
}

.facet-label {
  &.active,
  &:hover {
    .custom-checkbox span.color {
      border: 1px solid $radio-border-color;
    }
  }
}

.h1,
.h2,
.h3 {
  color: $gray-darker;
  text-transform: uppercase;
}

.h4 {
  font-weight: $headings-font-weight;
  color: $gray-darker;
}

.btn-primary,
.btn-secondary {
  padding: 0.5rem 1.25rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;

  //border: 1px solid #ddd;
  background: #1B484B;

  &:hover {
    background: #0E3336;
    //border: 1px solid #ddd;
  }

  .material-icons {
    margin-right: $small-space;
  }
}

.input-group .input-group-btn > .btn[data-action=show-password] {
  background: #1B484B !important;

  &:hover {
    background: #0E3336 !important;
    //border: 1px solid #ddd;
  }
}

.btn-tertiary {
  @extend .btn-secondary;
  padding: 0.25rem;
  margin: 0.25rem 0;
  font-size: $font-size-sm;
  font-weight: 400;
  color: $gray;
  text-transform: lowercase;
  background-color: #f7f7f7;

  .material-icons {
    font-size: $base-font-size;
  }

  &:hover {
    border: $input-btn-border-width solid rgba(35, 35, 35, 0.2);
  }
}

.btn-unstyle {
  padding: 0;
  text-align: inherit;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;

    .expand-more {
      color: $brand-primary;
    }
  }
}

.card {
  border: none;
}

label,
.label {
  font-size: 0.875rem;
  color: $gray-darker;
  text-align: right;
}

small.label,
small.value {
  font-size: 0.8125rem;
}

.form-control-comment {
  padding-top: 0.3rem;
  font-size: .875rem;
  color: #CCC;
  position: relative;
  display: inline-block;
}

.custom-checkbox em {
  padding-left: 27px;
  display: inline-block;
}

.custom-checkbox input[type=checkbox] + span {
  margin-top: -3px;
}

.form-control-label {
  padding-top: 0.625rem;
}

.form-control {
  padding: 0.5rem 1rem;
  color: $gray;
  background: white;
  border: none;

  &:focus {
    color: $gray-darker;
    background-color: #fff;
    outline: 0.1875rem solid $brand-primary;
  }
}

.input-group {
  &.focus {
    outline: 0.1875rem solid $brand-primary;
  }

  .form-control:focus {
    outline: none;
  }

  .input-group-btn {
    height: 100%;

    > .btn {
      padding: 0.625rem 1rem;
      margin-left: 0;
      font-size: 0.6875rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      border: 0;
      box-shadow: none;

      &[data-action="show-password"] {
        padding: 0.78rem 1rem;
        background: $gray;
      }
    }
  }
}

input,
textarea {
  /* stylelint-disable */
  &::-webkit-input-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }

  &:-moz-placeholder {
    color: $gray;
  }

  &:active {
    &::-webkit-input-placeholder {
      color: $gray-darker;
    }

    &::-moz-placeholder {
      color: $gray-darker;
    }

    &:-ms-input-placeholder {
      color: $gray-darker;
    }

    &:-moz-placeholder {
      color: $gray-darker;
    }
  }

  /* stylelint-enable */
}

.form-control-select {
  height: 2.625rem;
  padding: 0 0.5rem;
  background: $gray-light url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right 0.5rem center / 1.25rem 1.25rem;
  /* stylelint-disable */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */
}

.form-control-valign {
  padding-top: 0.5rem;
}

.form-control-comment {
  padding-top: 0.5rem;
  font-size: 0.875rem;
  color: $gray;
}

.form-control-submit {
  &.disabled {
    color: #fff;
    background: $brand-info;
  }
}

.form-group {
  &.has-error {
    input,
    select {
      outline: 0.1875rem solid $brand-danger;
    }

    .help-block {
      color: $brand-danger;
    }
  }
}

.group-span-filestyle {
  label {
    margin: 0;
  }

  .btn-default {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #fff;
    text-transform: uppercase;
    background: $brand-primary;
    border-radius: 0;
  }
}

.bootstrap-touchspin {
  display: inline-block;
  float: left;
  width: auto;

  input {
    &:focus {
      outline: none;
    }

    &.form-control,
    &.input-group {
      float: left;
      width: 3rem;
      height: $input-height;
      padding: 0.175rem 0.5rem;
      color: $gray-darker;
      background-color: #fff;
      border: $input-btn-border-width solid $input-border-color;
    }
  }

  .btn-touchspin {
    @extend .btn-default;
    height: $input-height / 2 + 0.0625rem;
    background-color: #fff;
    border: $input-btn-border-width solid $input-border-color;

    &:hover {
      background-color: $gray-light;
    }
  }

  .input-group-btn-vertical {
    float: left;
    width: auto;
    color: $gray-darker;

    .bootstrap-touchspin-up {
      border-radius: 0;
    }

    .bootstrap-touchspin-down {
      border-radius: 0;
    }

    .touchspin-up {
      &::after {
        content: "\E5CE";
      }
    }

    .touchspin-down {
      &::after {
        content: "\E5CF";
      }
    }

    i {
      top: 0.0625rem;
      left: 0.1875rem;
      font-size: 0.9375rem;
    }
  }
}

.radio-inline {
  .custom-radio {
    margin-right: 0.5rem;
  }

  &:first-of-type {
    margin-right: 1rem;
  }
}

form {
  section {
    .form-informations {
      display: inline-block;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      color: $gray-darker;

      &-title,
      &-option {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }
    }
  }

  .form-control-label {
    font-size: 0.875rem;
    font-weight: 700;
    color: $gray-darker;
  }
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 0.1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: $radio-border-color 1px solid;
  border-radius: 50%;

  input[type="radio"] {
    cursor: pointer;
    opacity: 0;

    &:checked + span {
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      display: block;
      width: 12px;
      height: 12px;
      background-color: $brand-primary;
      border-radius: 50%;
    }

    &:focus + span {
      border-color: $gray;
    }
  }
}

.custom-checkbox {
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 0.25rem;
    cursor: pointer;
    opacity: 0;

    + span {
      display: inline-block;
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      pointer-events: none;
      cursor: pointer;
      border: 1px $radio-border-color solid;

      .checkbox-checked {
        display: none;
        margin: -0.125rem;
        font-size: 1.25rem;
        color: $gray-darker;
      }
    }

    &:checked + span {
      .checkbox-checked {
        display: block;
      }
    }

    &:focus + span {
      border-color: $gray;
    }
  }

  label {
    text-align: left;
  }
}

.text-muted {
  font-size: 0.875rem;
}

.done {
  display: inline-block;
  padding: 0 0.8125rem;
  margin-right: 1.563rem;
  color: $brand-success;
}

.thumb-mask {
  > .mask {
    position: relative;
    width: 3.438rem;
    height: 3.438rem;
    margin: $small-space 0;
    overflow: hidden;
    border: $gray-light 1px solid;

    img {
      width: 55px;
      height: 55px;
    }
  }
}

.definition-list {
  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      font-weight: 500;
    }

    dd,
    dt {
      flex: 0 0 45%;
      padding: 0.625rem;
      margin: 0.125rem;
      background: $gray-light;

      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}

.help-block {
  margin-top: $small-space;
}

.btn.disabled,
.btn.disabled:hover {
  color: $btn-disabled-color;
  background: $btn-disabled-background;
  opacity: 1;
}

.alert-warning {
  .material-icons {
    padding-top: $extra-small-space;
    margin-right: $small-space;
    font-size: 2rem;
    color: $warning;
  }

  .alert-text {
    padding-top: $small-space;
    font-size: 0.9375rem;
  }

  .alert-link {
    padding: $extra-small-space $medium-space;
    margin-left: $small-space;
    font-size: 0.8125rem;
    font-weight: 600;
    color: $btn-tertiary-color;
    border-width: 2px;
    border-radius: 2px;
  }

  ul li:last-child .alert-link {
    color: #fff;
  }

  .warning-buttons {
    margin-top: $extra-small-space;
  }
}

.btn-warning {
  @include transition(all 0.4s ease-in-out);
}

.btn-tertiary-outline {
  color: $btn-tertiary-color;
  background-color: transparent;
  background-image: none;
  border: 0.15rem solid $btn-tertiary-color;
  border-color: $btn-tertiary-color;
  @include transition(all 0.4s ease-in-out);

  &:hover {
    color: $btn-tertiary-hover;
    border-color: $btn-tertiary-hover;
  }
}

.alert {
  font-size: 0.8125rem;
}

.nav-item {
  .nav-link,
  .nav-separtor {
    font-weight: 600;
    color: $gray;

    &.active {
      color: $gray-darker;
    }
  }
}

.separator {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.25);
}

// modal-dialog-centered class added from bootstrap 4.0.0, adapted for bootstrap 4.0.0-alpha.5
.modal-dialog-centered {
  display: flex;
  align-items: center;
  // 30px corresponds to the default margin size from bootstrap 4.0.0-alpha.5 for modal-dialog class
  min-height: calc(100% - (30px * 2));
}

.popover {
  font-family: inherit;
}

input[type="number"] {
  /* stylelint-disable */
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  /* stylelint-enable */
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}


.cms-id-6 {
  .page-header h1 {
    display: none;
  }
}


.page-customer-account #content.page-content {
  background: #F0F4F5;
  padding: 2rem;

  #notifications {
    display: none;
  }
}

.page-customer-account .page-footer {
  display: none;
}

.page-addresses .page-footer {
  display: none;
}

.page-customer-account.page-address .address-form {
  width: 100%;
}


.product-miniature {
  .product-description {

    .h3 {
      font-size: 1rem;
      text-transform: uppercase !important;
      letter-spacing: 2px;
    }

    .product-price-and-shipping {
      color: $brand-primary;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
    }
  }
}

.product-add-to-cart {
  .control-label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }

  .moins {
    cursor: pointer;
    border: 1px solid black;
    font-size: 3rem;
    padding: 5px;
    padding-top: 0px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;

    &:hover {
      background: #EEE;
    }
  }

  .plus {
    cursor: pointer;
    border: 1px solid black;
    font-size: 3rem;
    padding: 5px;
    padding-top: 5px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;

    &:hover {
      background: #EEE;
    }
  }

  .product-quantity .qty {
    margin-right: 0;
    margin-bottom: 0;


    input {
      border: none;
      text-align: center;
      outline: 0;
    }

  }

  .btnAddToCart {
    margin-top: 30px;

    .add {
      button {
        color: $footerGreenDark;
        background: none;
        border: 1px solid $footerGreenDark;

        &:hover {
          background: $footerGreenDark;
          color: white;
        }
      }
    }
  }
}
.page-heading{
  padding-bottom: 20px;
}
body{
  overflow-x:hidden;
}
@media (max-width : 991px){

  #search_widget.search_widget{display:none;}
  #header .header-top .search-widget{display:none !important;}

  body{font-size:0.8rem}
  .top-menu[data-depth="1"]
  {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .top-menu[data-depth="0"]>.category>a.dropdown-item, .top-menu[data-depth="0"]>.cms-category>a.dropdown-item
  {
    font-size:0.8rem !important;
  }
  .js-top-menu-bottom{
    display:none;
  }
  .footer-container .block-contact{
    display:none;
  }
  #mobile_top_menu_wrapper{
    padding : 0px 15px;
  }
  #mobile_top_menu_wrapper .top-menu a[data-depth="0"] {
    height: 40px;

  }
  #header .header-top .menu>.top-menu>li.category:hover a,  #header .header-top .menu>.top-menu>li.cms-category:hover a{
    font-size:0.6rem;
    padding: 5px;
  }

  .carousel .carousel-item .caption .caption-description .page-content.page-cms ul, .carousel .carousel-item .caption .caption-description h3, .carousel .carousel-item .caption .caption-description p, .page-content.page-cms .carousel .carousel-item .caption .caption-description ul
  {color:white !important;}
  .carousel .carousel-item .caption .display-1
  {color:white !important;}
  .block_quickContact .contactInfoContainer .contactInfo{
    font-size: 0.7rem !important;
  }
  .product-information .product-description span{
    line-height: 1.4rem;
  }
  .product-information .product-description a{
    line-height: 1.6rem;
  }
  .cart-products-count{
    background:$brand-primary !important;
  }
}
@media (max-width : 843px){


  .block_newsletter {
    padding-bottom:  30px !important;
  }
  .block_quickContact #block_quickContact-label{
    margin-top : 30px;
  }
  #products .up{
    display:none;
  }
  #js-product-list-top{
    margin-top: 50px;
  }
  #search_filter_toggler{
    color:white;
  }
  .banner .bannerCaption{
    left:auto !important;
  }

  .links .navbar-toggler .material-icons{
    color:white;
  }
  .footer-container .links ul{
    background:transparent;
    color:white;
  }
  .footer-container .links ul>li>a{
    background:transparent;
    color:white;
  }
  #header .header-nav .user-info,#header .header-nav .user-info .account{
    margin-left:0px!important;
  }

}
@media (max-width : 767px) {

  #header{
    border-bottom:0px !important;
  }
  .block_newsletter {
    padding-bottom: 30px !important;
  }
  .block_quickContact #block_quickContact-label {
    margin-top: 30px;
  }
  #products .up {
    display: none;
  }
  #js-product-list-top {
    margin-top: 50px;
  }
  #search_filter_toggler {
    color: white;
  }
  .banner .bannerCaption {
    left: auto !important;
  }

  .links .navbar-toggler .material-icons {
    color: white;
  }
  .footer-container .links ul {
    background: transparent !important;
    color: white;
  }
  .footer-container .links ul > li > a {
    background: transparent;
    color: white !important;
  }
  #block_myaccount_infos .title{
    border-bottom:0px;
  }
  .page-cms #wrapper{

    padding-top : 50px;

  }
  .page-my-account #wrapper{

    padding-top : 50px;

  }
  .banner .bannerCaption{
    left:20px !important;
  }

  .carousel .carousel-item .caption{
    flex-direction: column;
  }
  .carousel .carousel-item .caption .caption-description{
    padding-left: 50px !important;
    padding-right: 50px;
    padding-top: 50px;
  }
  .listOfCategories{
    flex-direction: column;

    a{
      margin:10px 0px;
    }
  }
  #footer>.container {
    padding: 50px 50px !important;
  }
  .block_quickContact .contactInfoContainer{
    flex-direction:column;
  }
  .block_quickContact #block_quickContact-label ,.block_newsletter #block-newsletter-label {
    display:block;
    margin-left: 0 !important;
    text-align: center;
  }
  .block_quickContact #block_quickContact-label small,.block_newsletter #block-newsletter-label small{
    display:block;
    margin-left: 0 !important;
    text-align: center;
  }
  .footer-container {
    padding-bottom: 2.5rem;
  }

  .footer-container .links ul>li{
    border-bottom: none !important;
  }



  #header .myMenu .rightMenu{
    margin-right: 0!important;
  }
  #header .header-top{
    padding : 0px !important;
    #mobile_top_menu_wrapper{
      background:$brand-primary !important;

    }
  }
  .myMenu{display:none !important;}
  #mobile_top_menu_wrapper{
    padding : 0px 15px !important;

    .top-menu{
      margin-bottom: 0 !important;}
  }
  #header .header-nav #menu-icon .material-icons {
    color:white;
  }
  #header .header-nav .material-icons {
    color:white;
  }
}