.page-authentication #main {

  background : #F0F4F5;
  padding : 20px;
  margin-bottom: 20px;

}
.page-authentication h1 {
  text-align: center;
  margin-top: 20px;
}
.page-authentication #content {

  max-width : none;
  background : #F0F4F5;

  h3{
    text-align: center;
    margin-bottom: 50px;
  }
  .loginForm{
    border-right : 1px solid black;

    .form-control-comment{
      display:none;
    }

    .my-form-group{
      padding : 0 50px;

      input.form-control{
        margin-top: 5px;
        background: white;
        border:none;
      }
    }
    .input-group .input-group-btn>.btn[data-action=show-password]{
      padding: 11px 1rem;
      margin-top: 5px;
    }
  }

  .noAccount{

  }
}
.page-customer-account{
  #content{
    display: flex;
    justify-content: center;
  }
  .register-form{
    max-width : 700px;
  }

}


body#checkout #checkout-personal-information-step,
body#checkout #checkout-addresses-step,
body#checkout #checkout-delivery-step,
body#checkout #checkout-payment-step,
{

  background: #F0F4F5;
}