.blockreassurance_product {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none !important;
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 600px){
    flex-direction: column;

  }

  >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 10px;


    .item-product{
      margin-bottom: 25px;
      width : 100px;
      height: 100px;
      svg{
        width : 100px;
        height: 100px;
      }
    }
  }

  img {
    width: 1.563rem;
    margin-right: 0.625rem;
  }

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child {
      border: 0;
    }
  }

  li .block-reassurance-item {
    padding: 1rem 1.5rem;
  }

  #product & {
    background: #fff;

    span {
      font-weight: 700;
    }
  }
}
#product .blockreassurance_product span {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.page-order .blockreassurance_product, .page-cart .blockreassurance_product {
  flex-direction: column;
}