#wrapper .breadcrumb {
  padding:30px 0px;
  border-bottom: 1px solid rgba(0,0,0,.1);

  span{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}

#wrapper .breadcrumb li:after {
  content: ">";
}