.listOfCategories{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:50px;
  a{

    @media(max-width: 600px){
      width : 100%;
    }
  }
  .categoryItem {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height : 150px;
    width : 400px;
    @media(max-width: 600px){
      width : auto;
    }

    label{
      color:white;
      position:absolute;
      bottom : 10px;
      left:20px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 0;
      z-index:5;
    }
  }

  .overlayblack{
    background:rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
