
.banner{
  position:relative;
  height : 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  display: flex;
  align-items: center;
  justify-content: center;

  .bannerCaption {
    position:absolute;
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left : 50%;
    right: 0;
    bottom: 0;
    @media (max-width : 843px){
      left:0px;
    }
  }
  .bannerTitle {
    color:white;
    font-size: 58px;
    line-height: 60px;
    font-family: Libre Baskerville;
  }
  .bannerSubTitle {
    color:white;
    font-size: 58px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 10px;
  }
  .bannerDesc {
    margin-top: 20px;
    color:white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

