
.cicorellaModule_h3{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  display: none;
}
.nav-tabs{
  margin-top: 41px;
  margin-bottom: 20px;
  border-bottom:none;
  text-align: center;
  display: flex;
  justify-content: center;

  @media (max-width: 600px){
    flex-direction: column;

  }

  .nav-item{
    padding: .5em 1em;

    a.nav-link{
      border:none;
      padding:0px;
      color: #7a7a7a;
      text-transform: uppercase;
      font-weight:300;
      letter-spacing: 3px;
      font-size: 14px;
    }
    a.nav-link.active{
      color:#1B484B;
      border-bottom:1px solid#1B484B;
    }
  }
}


