.carousel {
  margin-bottom: 50px;
  overflow-x : hidden;

  .direction {
    z-index: auto;
  }

  .carousel-inner {
    height: 700px;
    margin-bottom: 0;
  }

  .carousel-item {
    height: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    figure.sliderFigure{
      height: 700px;
      width: 100%;
      background-size: cover;
    }
    .sliderLogo{
      width:157px;
      height: 43px;
    }
    .caption {
      position: relative;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .left {
        width: 40%;
      }


      .caption-description {
        padding-left : 100px;
        p {
          font-size: 1rem;
          color: #fff;
        }

        h3 {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }

      .display-1 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing:10px;
      }
    }

    figure {
      display: inline-block;
      margin: 0;
    }
  }

  .carousel-control {
    opacity: 1;

    .icon-next,
    .icon-prev {
      &::before {
        content: "";
      }

      i {
        font-size: 3.125rem;
        color: #fff;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }

    .icon-prev {
      left: 1rem;
    }

    .icon-next {
      right: 2rem;
    }

    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray;
  }

  .active {
    background-color: $gray;
  }
}


/*SLIDER*/


.carousel .carousel-inner{
  height:auto;
}
.carousel .caption{

}
.carousel .caption h2{



}
.carousel .caption .sliderLogo{



}
.carousel .carousel-item .caption .caption-description p{

  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 300 !important;

}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel {
    .carousel-inner {
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel {
    left: 50%;
    width: 100vw;
    padding-bottom: 0.5rem;
    margin-left: -50vw;
    background-color: $gray-light;
    box-shadow: none;

    .carousel-item {
      .caption {
        position: static;
        margin: 1.275rem auto 2.5rem;
        text-align: center;

        .display-1 {
          font-size: 2rem;
          font-weight: 500;
          color: $gray-darker;
        }

        .caption-description {
          h3,
          p {
            color: $gray;
          }

          h3 {
            font-size: 1rem;
          }
        }
      }
    }

    .direction {
      position: absolute;
      top: calc(50%);
      width: 100%;

      .carousel-control {
        .icon-prev {
          left: 0;
          margin-left: 0;
        }

        .icon-next {
          right: 0;
          margin-right: 0.78rem;
        }

        i {
          background: rgba(122, 122, 122, 0.5);
        }
      }
    }
  }

  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
    }

    .active {
      width: 8px;
      height: 8px;
      margin: 1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .carousel-item {
      .caption {
        .display-1 {
          font-size: 1.3rem;
        }
      }
    }

    .carousel-control {
      .icon-prev,
      .icon-next {
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
