#header .header-top .menu {
  margin-bottom: 0;
  height: 91px;

  >.top-menu{
    height: 100%;
    display:block;

    >li.category{
      height:100%;
      padding-right: 10px;
      padding-left: 10px;
      &:hover{
        background:white;
        a{color:black !important;}
      }
    }
    >li.cms-category{
      height:100%;
      padding-right: 10px;
      padding-left: 10px;
      &:hover{
        background:white;
        a{color:black !important;}
      }
    }
    >li.category a{
      height:100%;
      display: inline-flex;
      align-items: center;
    }
    >li.cms-category a{
      height:100%;
      display: inline-flex;
      align-items: center;
    }

    ul[data-depth="1"]{
      width : 100%;
    }
  }
}

.top-menu {

  .category ul[data-depth="1"] > li {
    width: 49%;
    display: inline-block;

    @media (max-width : 767px) {
      width: 100%;
    }

    a[data-depth="2"]{
      font-family: Manrope, sans-serif;
      font-size: 0.8rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 0;
      padding : 10px;
    }
  }
  .cms-category ul[data-depth="1"]  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      padding: 0;
      font-family: Manrope, sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }

  &[data-depth="1"] {
    margin: 0.625rem;
  }

  &[data-depth="0"] {
    margin-bottom: 0;
  }

  a:not([data-depth="0"]) {
    display: block;
    padding: 0.625rem;
    font-weight: 400;
    color: $gray;
  }

  &[data-depth="0"] > .category > a.dropdown-item {
    color: white !important;
    //text-transform: none !important;
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    height:100%;
    display: inline-block;
  }
 &[data-depth="0"] > .cms-category > a.dropdown-item {
    color: white !important;
    //text-transform: none !important;
   font-family: Manrope, sans-serif;
   font-size: 1rem;
   font-weight: 300;
   letter-spacing: 2px;
  }

  a.dropdown-submenu {
    font-weight: 600;
    color: $gray-darker;
    text-transform: uppercase;
  }

  a[data-depth="0"] {
    padding: $small-space;
    font-size: 1.125rem;
    font-weight: 600;

    &:hover {
      #header & {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  ul[data-depth="2"] {
    max-height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    padding: 0 0.625rem 0.625rem 0;
  }

  .collapse {
    display: inherit;
  }

  .sub-menu {
    z-index: 18;
    width: calc(100%);
    min-width: calc(100%);
    margin-left: 0px;
    visibility: hidden;
    border: none;
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.collapse {
      visibility: hidden;
      opacity: 0;

      &.in {
        visibility: visible;
        opacity: 1;
      }
    }



    a:hover {
      color: $brand-primary;
    }
  }

  .popover {
    background:white;
    top:71px !important;
    max-width: inherit;
    border-radius: 0;
    padding : 10px 20px;
  }
}

.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

#_desktop_top_menu {
  .top-menu {
    &[data-depth="0"] {
      li {
        &:hover {
          .sub-menu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

#mobile_top_menu_wrapper {
  padding: 15px;
  background: #fff;

  #top-menu {
    margin-bottom: 0.625rem;
  }

  .top-menu {
    color: $gray-darker;

    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }

      .remove {
        display: block;
      }
    }

    .collapse-icons .remove {
      display: none;
    }

    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }

    a[data-depth="0"] {
      padding: 0.625rem;
      border-bottom: 1px solid $gray-lighter;
    }

    .collapse {
      display: none;

      &.in {
        display: block;
      }
    }

    .sub-menu {
      position: static;
      z-index: inherit;
      display: block;
      width: 100%;
      min-width: 100%;
      margin-left: 0;
      overflow: hidden;
      background: #fff;
      box-shadow: none;

      &.collapse {
        display: none;

        &.in {
          display: block;
        }
      }

      ul[data-depth="0"] > li {
        border-bottom: 1px solid $gray;
      }

      ul[data-depth="1"] {
        margin: 0;

        > li {
          float: none;
          margin: 0;

          a {
            text-transform: none;
          }
        }
      }

      ul {
        padding: 0;
      }

      li > a {
        padding: 0.625rem;
        font-weight: 600;
        border-bottom: 1px solid #fff;
      }

      ul[data-depth="2"] li a {
        padding-left: 1.25rem;
      }

      ul[data-depth="3"] li a {
        padding-left: 2.5rem;
      }

      ul[data-depth="4"] li a {
        padding-left: 3.75rem;
      }
    }
  }

  .js-top-menu-bottom {
    a {
      color: $gray;
    }

    .language-selector-wrapper {
      padding: 0.625rem;

      .language-selector {
        display: inline;
      }
    }

    .currency-selector {
      padding: 0.625rem;
    }

    #contact-link {
      padding: 0.625rem;
    }

    .user-info {
      padding: 0 0.625rem;

      a {
        display: block;
        width: 100%;
        padding: 0.625rem 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .top-menu {
    .sub-menu {
      visibility: visible;
      opacity: 1;
      transition: 0.5s ease-out;
    }
  }
}
