.page-index {
  #header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    background: transparent;

    .header-top {

      &:has(.category:hover){
        background:teal;
      }
    }
  }
}

#header {

  #_mobile_logo {
    width: 50%;
    height: 48px;
    margin-left: 50px;
    h1{
      height : 48px;

      a{
        top: 0px;
        position: absolute;
        width: 120px;
        height: 48px;
        display: flex;
        align-items: center;
      }
    }
  }

  padding: 0 20px;
  box-shadow: none;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);

  .header-top {
    padding: 1.25rem 0;
    background: transparent;

    &:has(.category:hover){
      background:teal;
    }
  }

  .myMenu {
    position: relative;
    background: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #_desktop_logo {
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
    }

    .rightMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;

      a {
        padding: 0 10px;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        &:hover{
          color:#CCC;
        }
      }
    }.leftMenu {
           margin-left: 30px;
    }
  }
}

#_desktop_currency_selector{
  margin-right: 15px;
}
#_desktop_language_selector{
  margin-right: 5px;
}
#_desktop_language_selector, #_desktop_currency_selector{

  .expand-more{
    text-transform: uppercase;
    color:white;

    &:hover{
      color:#CCC;
    }
  }
  .dropdown-menu{
    background:#413235;
    min-width: auto;
    border-color:white;
  }
}


#_desktop_user_info {
  margin-right: 10px;
}
#_desktop_cart {
  margin-right: 20px;
  color:white;
  &:hover{
    color:#CCC;
  }
}
#_desktop_cart .header{
  position: relative;
}
span.cart-products-count{
  color:white;
  padding: 3px 5px 3px 6px;
  background: #1b484b;
  /*height: 20px;*/
  border-radius: 15px;
}
