.block_newsletter {

  @include search-box();
  font-size: $font-size-sm;
  background: none;


  #block-newsletter-label {
    font-size: 1.8rem;
    line-height: 1.75rem;
    color: white;
    font-family: Libre Baskerville;

    small{
      font-family: Manrope, sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 0.8rem;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }

  form {
    .input-wrapper {
      overflow: hidden;
    }

    .row {
      .col-xs-12:last-of-type {
        p {
          font-size: 0.75rem;
          color: $gray;
        }
      }

      .col-xs-12:first-of-type {
        .btn-primary:first-of-type {
          margin-left: 0.5rem;
        }
      }
    }

    input[type="email"] {
      width: 100%;
      padding: 11px;
      border: 1px solid $border-gray;
      background: rgba(255,255,255, 0.2);
      color:white;

      &::placeholder{
        color:#CCC;
      }
      &:focus {
        padding: 8px 8px 9px;
        border: 3px $brand-primary solid;
        outline: 0;
      }
    }

    input {
      height: 42px;
      box-shadow: none;
    }
  }
}

#footer {
  .block_newsletter {
    p {
      padding-top: $small-space;
    }

    #block-newsletter-label {
      padding-top: 0;
    }
    .btn-primary {border:1px solid white;}
  }
}

#left-column {
  .block_newsletter {
    padding: 1.563rem 1.25rem;
    margin-bottom: 1.563rem;
  }
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: 1rem;
  }
}



.block_quickContact {

  font-size: $font-size-sm;
  background: none;


  #block_quickContact-label {
    font-size: 1.8rem;
    line-height: 1.75rem;
    color: white;
    display: block;
    font-family: Libre Baskerville;

    small{
      font-family: Manrope;
      font-size: 0.8rem;
      font-weight: 300;
      letter-spacing: 2px;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
  .contactInfoContainer{
    display: flex;
    align-items: center;
    height: 42px;

    .contactInfo{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color:white;
      margin-right: 50px;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      white-space: nowrap;

      svg{
        margin-right : 15px;
      }
    }
  }

}


