.search-widget {
  display: inline-block;
  @include search-box();
}

.header-top {
  .search-widget {
    form {
      input[type="text"] {
        width: 100%;
        min-width: inherit;
        color: $gray-second;
        background: $gray-lighter;

        &:focus {
          background: $white;
        }
      }

      button[type="submit"] {
        top: 50%;
        bottom: inherit;
        transform: translateY(-50%);
      }
    }
  }
}

#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;

      form {
        margin: 0 auto;

        input[type="text"] {
          min-width: inherit;
          background: #fff;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .search-widget {
    min-width: 15.63rem;
  }
}


#header .header-top .search-widget{
  min-width:auto;
  position: relative;

  i{color:white;cursor: pointer;}

  .searchForm{position:absolute;
    top:58px;
    right: 0;
    width : 250px;
    display:none;

    &.active{
      display:block;
    }
  }
}