


<div class="container">

{*    <ul class="nav nav-tabs" id="myTab" role="tablist">*}
{*        <li class="nav-item">*}
{*            <a class="nav-link active" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="true">Catégories</a>*}
{*        </li>*}
{*        <li class="nav-item">*}
{*            <a class="nav-link" id="collections-tab" data-toggle="tab" href="#collections" role="tab" aria-controls="collections" aria-selected="false">Collections</a>*}
{*        </li>*}
{*    </ul>*}
    <div class="tab-content" id="myTabContent">
{*        <div class="tab-pane  show active" id="categories" role="tabpanel" aria-labelledby="home-tab">*}


            <div class="listOfCategories">
            {foreach from=$categories[2] item=category name='categoriesSlider'}




                <a href="{$category['infos']['id_category']}-{$category['infos']['link_rewrite']}">
                    <div class="categoryItem" style="background-image:url({$link->getCatImageLink($category['infos']['link_rewrite'], $category['infos']['id_category'], '')});">
                         <label for="">{$category['infos']['name']}</label>
                        <div class="overlayblack"></div>
                    </div>
                </a>
            {/foreach}
            </div>







{*        </div>*}
{*        <div class="tab-pane " id="collections" role="tabpanel" aria-labelledby="profile-tab">*}
{*            {$HOOK_POPULAIRES nofilter}*}
{*        </div>*}
    </div>

</div>
