/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

body:not(.page-index) #header {
    background: url('../images/header.jpg') no-repeat center;
    background-size: cover;
}

/*general*/





